* {margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border-collapse: collapse;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;}
    
.intro_bg{background-color: black;
    width: 1900px;
    height: 3300px;}

.header{width: 1701px;
    height: 150px;
    margin: auto;
    display: flex;}

.logo{margin-top: 53px;
    width: 248.67px;
    height: 39.78px;
    justify-content: center;}

.nav{display: flex;
    justify-content: flex-end;
    width: 1453px;
    line-height: 41px;
    margin-top: 53px;}

.nav > li{margin-left: 178px;
        font-size: 29px;} 
         
a{border-radius: 50px;
    padding: 12px 41px;}

.bt:hover {background-color: #FF4F00;
        border-radius: 50px;
        padding: 12px 41px;
        transition: all 0.2s;}

a:visited{color: white;}
a:active{}

.main1{position: absolute;
    top: 330px;
    left: 159px;}

.text1{font-size: 60px;
    position: absolute;
    top: 620px;
    left: 159px;}

.main2{position: absolute;
    top: 1476px;
    left: 257px;}

.text2{font-size: 50px;
    position: absolute;
    top: 1495px;
    left: 321px;}

.main3{position: absolute;
    top: 2650px;
    right: 185px;}

.text3{position: absolute;
    top: 2970px;
    right: 567px;
    font-size: 25px;}